/* CSS FOR NAVBAR */

/* .navbar {
    width: 100%;
  } */
  
  .navbar-header {
    background-color: #202020;
  }

  .nav {
    width: 100%;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .navbar-logo {
    display: inline-block;
    max-width: 150px;
    border-radius: 45px;
  }

  .nav > .nav-wrapper >.nav-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: end;
  }
  .nav > .nav-wrapper > .nav-list > li {
    list-style-type: none;
  }
  .nav > .nav-wrapper > .nav-list > li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
  }
  .nav > .nav-wrapper > .nav-list > li a:hover {
    cursor: pointer;
    border-bottom: 1px solid #fff;
  }

  .nav > #nav-check {
    display: none;
  }

  .nav-btn > label > span, .nav-title {
    cursor: pointer;
  }

  /* RESPONSIVE */
  @media (max-width: 850px) {
    .navbar-header {
      margin-top: 0;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      padding-top: 0.2rem;
      height: 50px;
      border-bottom: 1px solid #fff;
      background-color: #202020;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 6px;
      border-top: 3px solid #eee;
    }
    .nav > .nav-wrapper > .nav-list {
      /* position: absolute; */
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: unset;
      background-color: #202020;
      height: 0;
      transition: all 0.3s ease-in;
      top: 40px;
      left: 0;
      overflow: hidden;
      z-index: 5;
      padding: 0;
    }
    .nav > .nav-wrapper > .nav-list > li {
      width: 100%;
      margin-top: 1.5rem;
      text-align: center;
    }
    .nav > #nav-check:checked ~ .nav-list {
      /* height: calc(100vh - 500px); */
      height: 100%;
    }
  }