/* CSS FOR GAMES COMPONENT */

/* CSS HEX PALETTE
--aureolin: #eae125ff;
--caput-mortuum: #552c2cff;
--redwood: #9d4d4dff;
--cerulean: #337ca0ff;
--slate-blue: #7067cfff; */

html {
  scrollbar-gutter: stable;
}

.flex-container {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-header {
    text-align: center;
    font-weight: 500;
    font-family: proxima-nova, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
    line-height: 1.15;
    margin: 3rem 0;
  }
  
  .collapse {
      display: none;
    }
  
    .collapse.in {
      display: block;
    }
  
  
  #games {
    width: 100%;
  }

  .game-expanded {
    width: 100%;
  }

  section.grid {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
  }
  
  section.grid, section.grid .grid-upper .grid-row, section.grid .grid-middle .grid-row, section.grid .grid-lower .grid-row {
    gap: 2rem;
    display: flex;
    position: relative;
  }
  
  section.grid .grid-upper, section.grid .grid-middle, section.grid .grid-lower {
    gap: 2rem;
  }
  
  section.grid .grid-upper .grid-row {
    position: relative;
    justify-items: center;
  }
  
  section.grid .grid-lower {
    display: flex;
    flex-flow: column wrap;
    position: relative;
  }

  section.grid .grid-lower .game-container {
    z-index: 1;
  }


  section.grid .grid-upper .game-container .game-feature, section.grid .grid-middle .game-container .game-feature, section.grid .grid-lower .game-container .game-feature {
    background: transparent;
    border-image-slice: 1;
    /* border-image-source: linear-gradient(to bottom, #00FFAD, #541DAB);  */
  }

  .game-feature > img:hover, #games:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .game-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid #000; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .game-feature > h2 { 
    text-align: center;
    margin: 0;
    padding: 10px 0;
     background-color: #dd4444; /* cf4e4e */
    color: #f6f4f1;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .game-container {
    border: 3px solid #000;
    border-radius: 5px 5px 0 0;
  }
  
  .poster {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  

  /* MODAL */

  .modal-game {
    width: 600px;
    height: 300px;
    background: #e9e9e9!important;
    color: #404040;
    border-radius: 0.5rem;
  }

  .modal-game h2 {
    font-size: 175%;
    margin-bottom: 0;
  }

  .modal-game h3 {
    margin-bottom: 0.7rem;
    font-size: 125%;
  }

  .modal-game-image {
    align-self: center;
  }
  .modal-poster {
    object-fit: cover;
    border-radius: 5px;
    max-width: 150px;
  }

  .modal-game-overlay {
    background-color: #3333338a;
  }

  .modal-game-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 2em;
    /* width: 75%; */
  }

  .modal-game-footer {
    width: 100%;
    margin-top: auto;
  }

  .modal-game-hr {
    border-width: 5px;
    border-color: #dd4444;
  }
  .modal-game-info hr {
    border-color: #ffffff05;
    border-width: 1px;
    margin: 0;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin: 24px 0;
    padding: 0;
  }

  .react-responsive-modal-closeButton {
    background-color: #b6b6b6!important;
    border-radius: 50%;
  }
  .react-responsive-modal-closeButton:hover {
    background-color: #c0c0c0;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  /* RESPONSIVE */

  @media all and (max-width: 1000px) {
    /* .wrapper {
      width: 100%;
    } */
    #games {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  @media all and (max-width: 800px) {
    section.grid .grid-lower .grid-row {
      gap: 1rem;
      display: flex;
      position: relative;
    }
    section.grid .grid-lower {
      display: grid;
      grid-template-columns: none;
    }
    #games {
      display: flex;
      justify-content: center;
    }
  }

  @media all and (max-width: 600px) {
    .grid-row {
      flex-flow: row wrap;
      width: 100%;
    }
    #games {
      display: flex;
      justify-content: center;
    }
    .modal-game {
      width: 400px;
      height: auto;
    }
    .modal-game-info {
      margin-left: 0;
    }
  }
  
  @media all and (max-width: 400px) {
    #games {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .modal-game {
      width: auto;
      height: auto;
    }
  }