/* CSS FOR GAMES COMPONENT */

.game-header {
    text-align: center;
    font-weight: 500;
    font-family: proxima-nova, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
    line-height: 1.15;
    margin: 3rem 0;
  }
  
  .collapse {
      display: none
    }
  
    .collapse.in {
      display: block
    }
  
  
  #games {
    width: 100%;
  }

  section.grid .grid-lower .game-container {
    z-index: 1;
  }


  section.grid .grid-upper .game-container .game-feature, section.grid .grid-middle .game-container .game-feature, section.grid .grid-lower .game-container .game-feature {
    background: transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #00FFAD, #541DAB);
  }

  /* .game-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0 10px;
  } */
  
  .game-feature > img:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .game-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #00FFAD, #541DAB);
    border: 5px solid;
  }
  .game-feature > h2 { 
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background-color: rgb(43, 45, 46);
    color: #f6f4f1;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  
  .poster {
    height: 300px;
    width: 100%;
    object-fit: cover;  
  
    border-radius: 5px;
  }
  

  /* MODAL */
  .game-modal-overlay {
    background-color: #3333338a;
  }
  .game-modal {
    width: 600px;
    height: 400px;
    background: #333333!important;
    color: #fff;
  }

  .game-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .game-description { 
    flex-grow: 1; 
  }

  .game-footer {
    width: 100%;
  }
  
  /* RESPONSIVE */

  @media all and (max-width: 1000px) {
    .wrapper {
      width: 100%;
    }
    #games {
      width: 30%;
      display: flex;
      justify-content: center;
    }
    .game-row {
      justify-content: center;
    }
  }

  @media all and (max-width: 800px) {
    .game-row {
      flex-flow: row wrap;
      width: 100%;
    }
    #games {
      display: flex;
      justify-content: center;
    }
  }

  @media all and (max-width: 600px) {
    .game-row {
      flex-flow: row wrap;
      width: 100%;
    }
    #games {
      display: flex;
      justify-content: center;
      width: 49%;
    }
  }
  
  @media all and (max-width: 400px) {
    .game-row {
      flex-flow: column nowrap;
    }
    #games {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }