
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: proxima-nova, Helvetica, sans-serif;
  font-weight: 400;
  color: #404040;
  min-height: 100%;
  background: #f2efec;
  background-color: #E6E6E6; /*#daa520;*/
}

h1, h2, h3, h4, h5, h6 {
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  margin: auto;
  flex-grow: 1;
  width: 80%;
}

.margin-bot {
  margin-bottom: 20px;
}

section.grid {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 1000px;
}

section.grid .grid-upper .grid-row, section.grid .grid-middle .grid-row, section.grid .grid-lower .grid-row {
  gap: 1rem;
  display: grid;
  position: relative;
}

section.grid .grid-upper, section.grid .grid-middle, section.grid .grid-lower {
  gap: 1rem;
}

section.grid .grid-upper .grid-row {
  position: relative;
  justify-items: center;
}

section.grid .grid-middle .grid-row {
  /* -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr; */
}

section.grid .grid-lower {
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

/* HOME */

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
#category-list {
  padding: 5px;
}