
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: #404040;
  min-height: 100%;
  background: #f2efec;
  background-color: #E6E6E6; /*#daa520;*/
}

h1, h2, h3, h4, h5, h6 {
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  margin: auto;
  flex-grow: 1;
}

.margin-bot {
  margin-bottom: 20px;
}

.game-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  width: 70%;
}

/* HOME */

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
#category-list {
  padding: 5px;
}