
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #333333;
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  width: 80%;
  margin: auto;
  flex-grow: 1;
}

.navbar {
  background-color: #552c2c;
  /*padding: 1em;*/
}

.nav-logo {
  display: inline-block;
  max-width: 150px;
  border: 2px solid #fff;
  border-radius: 90%;
}
.nav-title {
  display: inline-block;
  height: auto;
  width: 300px; /* Games is being distorted, but this keeps circle in center */
  min-height: 50px;
  margin: 0 1em;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  list-style: none;
  text-align: center;
}

.nav li {
  padding: 1em;
}
.nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1em;
}
.nav a:hover {
  transform: scale(1.1);
}

/* HOME */
.game-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* Game Box */
/*.games2 {
  margin: 1em 0;
}
.games2 h5, .games2 h2 { margin: 0; }
.games2 h5 { margin-top: 5px; }
.gamebox {
  border: 1px solid #000;
}
.poster2 {
  height: auto;
  width: 200px;

  border: 1.5px solid #000;
}
/*.collapse {
    display: none
  }

  .collapse.in {
    display: block
  }
  */

.games {
  margin: 1em 0;
  width: 32%;
}

.game-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  height: 100%;

  border: 1px solid #000;
}

.game-feature {
  align-self: center;
  margin-left: auto;
  margin-right: 25px;
}

.poster {
  height: auto;
  width: 100%;

  border: 1.5px solid #000;
}

.game-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.game-info p { flex-grow: 1; }


/*.game-box {
  height: auto;
  width: 35%;
  max-width: 30%;
  border: 1px solid #fff;
  margin: 1% 0;
}

.game-img {
  height: auto;
  width: 80%;
  border: 1px solid #000;
}*/



/*  FOOTER  */
#footer { background-color: #666; }
.footer-wrap {
  display: flex;
  /*flex-flow: column wrap;*/
  /*justify-content: space-between; only if using logo */
  justify-content: center;
  align-items: center;
}

#footer li { display: inline-block; margin: 0 10px; }
#footer ul li:hover { /*color: #00ace6;*/color: #fffc36; transition: color .2s ease-out; cursor: pointer; font-weight: bold; }
#footer li::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#footer li span {
    content: attr(title);
    font-weight: bold;
    height: 0;
}

.social-icons { margin-right: 0; }

.footer-navbar {
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  list-style-image: none;
  text-decoration: none; 
  align-self: flex-end;
}
.footer-navbar a { text-decoration: none; color: #ccc; }
.social-icons { color: #ccc; }
.atSymbol { color: #fffc36; }
.github:hover span.TextGit { color: #fff }
.github:hover span.TextHub { color: #000 }
.twitter:hover span.TextTwitter { color: #00acee }
.youtube:hover span.TextYou { color: #c4302b }
.youtube:hover span.TextTube { color: #fff }

.footer-logo { align-self: center; }
.footer-logo img {
  max-width: 100%;
  max-height: 50px;
  height: auto;
}


/* RESPONSIVE */
@media all and (max-width: 800px) {
  .nav-title { display: none; }
   .games { width: 45%; }
}

@media all and (max-width: 600px) {
  .nav {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .nav li:last-of-type a {
    border-bottom: none;
  }

}

@media all and (max-width: 600px) {
  .game-feature { display: none; }
}



